html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.bulb{
    width: 450px;
    height: 500px;
    position: relative;
}
  
img{
    margin-top: -50px;
    height: 450px;
    width: 100%;
    position: absolute;
}
  
img#on{
    opacity: 0;
    animation: glow 3s linear infinite;
}
  

@keyframes glow{
    0%{
      opacity: 1;
    }
    5%{
      opacity: 1;
    }
    30%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    75%{
      opacity: 1;
    }
    85%{
      opacity: 0;
    }
    90%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
}

.label{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.label span{
    height: 50px;
    width: 180px;
    display: block;
    text-align: center;
    line-height: 48px;
    background:none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.5s ease;
}
  
.label span:hover{
    background: white;
    color: black;
}
  
#input:checked ~ .label span{
    background: white;
    color: black;
}
  
.label span:before{
    content: "Turn Off";
}
  
#input:checked ~ img#on{
    animation: none;
}
  
#input:checked ~ .label span:before{
    content: "Turn on"; 
}
  
.bulb input{
    display: none; 
}